extends layout

block content
  header
    h2 ガチャッター
    nav#menubar
      ul
        li
          a(href="/") ホーム
        li
          a(href="/gacha") ガチャる!
        li.current
          a(href="/help") その他
    ul#menubar-right
      li#login-button
        if user
          a(href="/logout") ログアウト
        else
          a(href="/login") GitHubでログイン
      li
        a(href="https://github.com/Hatoremi/Gachatter" title="githubへのリンク")
          img(src="images/icon_github.png")
  div#container
    h2.borders Q&A
    h3 Q.どうやってガチャを回すの？
    h3 A.ガチャのレバーの部分をクリックすることで、ガチャを回すことができます。
    hr
    h3 Q.文字数制限は何文字ですか？
    h3 A.排出されたカードスタイルのレア度によって上下します。
      | 詳しくは、下記のカードスタイルについての項目を参照してください。
    hr
    h3 Q.GitHubでログインをするとどうなるの？
    h3 A.投稿に名前(GitHubのユーザーネーム)が付き、投稿を削除できるようになります。
    hr
    h3 Q.ガチャを回さないで投稿するとどうなるの？
    h3 A.ガチャを回さない場合、投稿内容の文字数制限が10文字になり、背景色は白色になります。
      | また、何も書かずに投稿することはできません。
    h2.borders カードスタイルについて
    table
      tr
        th レア度
        th 排出率
        th 文字数制限
      tr
        td ミシック(MYTHIC)
        td 0.1%
        td 484文字
      tr
        td レジェンド(LEGEND)
        td 0.9%
        td 400文字
      tr
        td エピック(EPIC)
        td 9%
        td 324文字
      tr
        td レア(RARE)
        td 20%
        td 256文字
      tr
        td アンコモン(UNCOMMON)
        td 30%
        td 196文字
      tr
        td コモン(COMMON)
        td 40%
        td 144文字
    p ※各レア度にそれぞれ複数種類のカードスタイルが存在します。
    h2.borders 禁止事項
    h3 本サイトの利用に際して、以下の項目に該当すると本サイトの管理者が判断される行為を一切禁止します。
      | 禁止行為を行った場合は、事前の告知なく該当箇所の削除や変更を行う場合があります。
      | その場合、削除内容等に関する問い合わせ、苦情は一切受け付けません。
    ul
      li 日本国法令または公序良俗に反するおそれのある発言
      li 著作権などの第三者の知的財産権を侵害し、または侵害を助長する行為
      li 国内法に抵触するサイトへのリンク
      li 第三者のプライバシーを侵害し、もしくは秘密を漏えいするような発言
      li 第三者に対する誹謗中傷または名誉き損、もしくは他者に対して不利益または不快感を与えるおそれのある発言
      li 虚偽または故意に誤解を与える発言
      li 民族的・人種的差別につながる発言、倫理的観点から問題のある発言
      li 特定の政党もしくは政治団体のための活動、宗教活動または専ら営利を目的とした発言、その他勧誘、宣伝、広告を目的とした内容の掲示
      li 他の利用者の個人情報を収集し蓄積すること、またはこれらの行為をしようとすること
      li 本サイトに接続しているサーバーもしくはネットワークを妨害したり、混乱させたりすること
      li 管理者等が禁止を明示した発言または削除した発言と同一または類似する内容の発言